<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
    <link rel="stylesheet" href="/css/addProduct.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/admin/add-product">Add Product</a></li>
                <li><a href="/admin/products">Admin Products</a></li>                
            </ul>
        </nav>
    </header>

    <main>
        <form action="/admin/edit" method="POST">
            <div>
                <label for="title">Title:</label>
                <input type="text" name="productName" id="title" value="<%= prods.title %>">
            </div>
            
            <div>
                <label for="imageUrl">Image Url:</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<%= prods.imageUrl %>">
            </div>
            
            <div>
                <label for="price">Price:</label>
                <input type="number" name="price" id="price" value="<%= prods.price %>">
            </div>

            <div>
                <label for="description">Description:</label>
                <input name="description" id="description"  rows="5" value="<%= prods.description %>" ></input>
            </div>

            <button type="submit">Update Product</button>
            <input type="hidden" name="productId" value="<%= product.id %>">
        </form>
    </main>
</body>
</html>