<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Product</title>
    <link rel="stylesheet" href="/css/shop.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/" >Shop</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/cart" >Cart</a></li>
          <li><a href="/admin/add-product" >Add Product</a></li>
          <li><a href="/admin/products" class="active">Admin Products</a></li>
          <li><a href="/login">Login</a></li>   
        </ul>
      </nav>
    </header>

    <main>
      <% if(prods.length > 0 ) {%> 
        <% for(product of prods) {%>
          <div class="product_card">
            <div>
              <p><%= product.title%></p>
            </div>
            <div>
              <img src=<%= product.imageUrl %> alt="">
            </div>
            <div>
              <p>Price: <%= product.price %></p>
              <form action="/admin/products/edit" method="POST">
                <button>Edit</button>
                <input type="hidden" name="productId" value="<%= product.id %>">
              </form>
              
              <form action="/admin/delete" method="POST">
                <button>Delete</button>
                <input type="hidden" name="productId" value="<%= product.id %>">
              </form>
            </div>
          </div>
        <% }%> 
      <% } else {%>
            <h1>No products Found</h1>
      <% }%>
    </main>
  </body>
</html>
